*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: inline-block;
}

nav{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 30px;
    position: fixed;
    background-color: white;
    position: relative;
}

img{
    width: 150px;
    height: 30px; 
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
}

li{
    display: inline;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

li a, li a:hover, li a:visited, li a:focus{
    color: black;
    text-decoration: none;
}

.sette a, .sette a:hover, .sette a:visited, .sette a:focus{
    color: white;
    text-decoration: none;
}

.sinistra{
    display: inline-block;
    float: left;
    margin-left: 200px;
}

.destra{
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.sei{
    padding-right: 20px;
}

.fir{
    margin-top: 10px;
    vertical-align: middle;
}

.tasto{
    background-color: #0061ff;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.prima{
    background-color: rgb(158, 193, 207);
    width: 100%;
    height: 100vh;
}

.seconda{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.sezione-uno{
    padding-top: 40px;
    margin-right: 45px;
    padding-left: 100px;
    position: relative;
}

.titolo{
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.testo{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 20px;
    max-width: 370px;
    line-height: 30px;
}

.prima-foto{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 350px;
    left: 550px;
}

.sec{
    margin-top: 150px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}