*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: inline-block;
}

nav{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 5px;
}

img{
    width: 150px;
    height: 30px;
    vertical-align: middle;

}

ul{
    display: inline-block;
}

li{
    line-height: 40px;
    display: inline;
    vertical-align: middle;
    padding-left: 30px;
}

/* :not(.sette){
    padding-left: 0px;
} */

.link{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.quattro{
    padding-left: 350px;
}

.sei{
    padding-right: 20px;
}

.sette{
    background-color: #0061ff;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 40px;
    display: inline;
    text-align: center;
}